*{
    margin: 0;
    padding: 0;

}

html body{
    height: 100%;
    width: 100%;
    background-color:  black;
}

#parent{
    height: 100%;
    width: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; */
   
    
}

#full-box{
    padding-top: 20px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.main-box{
    height: 150px;
    width: 10%;    
    
}

.main-box p{ 
    text-align: center;
    color: aliceblue;
    padding-top: 10px;
}
h1{
    font-size: 3vw;
    color: white;
    text-align: center;
    
}

.child{
   height: 130px;
   width: 100%;
   border: 2px solid white; 
   
   /* margin-top: 300px; */
   
   
}

#n-logo{
    width: 15vw;
    margin-top: -30px;
}


    

#button-div a button{
    background-color: black;
    color: white;
    border: 1px solid rgb(150, 128, 128);
    width: 150px;
    height: 30px;
    
    

}

#button-div{
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
   display: flex;
   justify-content: center;
   margin-top: 150px;
}

#box1{
    background-color: rgb(50, 50, 167);
}

#box2{
    background-color: yellow;
}

#box3{
    background-color: red;
}

#box4{
    background-color: rgba(124, 108, 212, 0.829);
}

#box5{
    background-color: aqua;
}

/* #button{
    background-color: black;
    color: white;
    border: 1px solid rgb(150, 128, 128);
    width: 150px;
    height: 30px;
    margin: 100px;
} */

